@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@600&family=Quicksand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #FDF2E7;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

header .logo {
  width: 320px;
  margin-bottom: 10px;
}

header .header-text {
  color: #BF755A;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
}

nav .choose-pet {
  font-family: "Proza Libre", sans-serif;
  color: #5E92D4;
  font-size: 22px;
}

nav .pet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

nav .dog-container,
nav .cat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .dog-image,
nav .cat-image {
  width: 120px;
  cursor: pointer;
}

nav .dog-button,
nav .cat-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5E92D4;
  color: #FDF2E7;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-size: 22px;
}

nav .dog-button:hover,
nav .cat-button:hover {
  background-color: #0B609A;
}

nav .dog-check-icon,
nav .cat-check-icon {
  margin-left: 10px;
}

section.calculator {
  display: none;
}

section.calculator form {
  margin-bottom: 50px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

section.calculator form .dog-value,
section.calculator form .cat-value {
  background-color: #FDF2E7;
  color: #BF755A;
  border: 2px solid #5E92D4;
  border-radius: 6px;
  height: 50px;
  width: 270px;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  outline: none;
  margin-right: 10px;
  text-align: center;
}

section.calculator form ::-webkit-input-placeholder {
  font-weight: normal;
  color: #BF755A;
  opacity: 1;
}

section.calculator form :-ms-input-placeholder {
  font-weight: normal;
  color: #BF755A;
  opacity: 1;
}

section.calculator form ::-ms-input-placeholder {
  font-weight: normal;
  color: #BF755A;
  opacity: 1;
}

section.calculator form ::placeholder {
  font-weight: normal;
  color: #BF755A;
  opacity: 1;
}

section.calculator form input[type=number]::-webkit-outer-spin-button,
section.calculator form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.calculator form input[type=number] {
  -moz-appearance: textfield;
}

section.calculator form .dog-submit-button,
section.calculator form .cat-submit-button {
  background-color: #5E92D4;
  color: #FDF2E7;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-size: 22px;
}

section.calculator form .dog-submit-button:hover,
section.calculator form .cat-submit-button:hover {
  background-color: #0B609A;
}

section.calculator .dog-age-info,
section.calculator .cat-age-info {
  font-family: "Proza Libre", sans-serif;
  font-size: 22px;
  color: #BF755A;
  margin-bottom: 10px;
}

section.calculator .cat-age-info {
  margin-bottom: 50px;
}

section.calculator .dog-age-varies {
  margin-bottom: 50px;
  font-size: 18px;
  color: #BF755A;
}

footer .paw-icon {
  width: 30px;
  margin-bottom: 5px;
}

footer a {
  color: #0B609A;
  font-size: 18px;
  text-decoration: none;
}

footer a:hover {
  color: #BF755A;
}

footer .developed-by {
  margin-top: 10px;
  font-size: 16px;
}

footer .footer-link-separator {
  color: #BF755A;
}

nav .back-link {
  text-decoration: none;
}

nav .back-button {
  background-color: #5E92D4;
  color: #FDF2E7;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

nav .back-button .back-icon {
  margin-right: 10px;
}

nav .back-button:hover {
  background-color: #0B609A;
}

main.how-it-works-main {
  max-width: 660px;
}

main.how-it-works-main h1 {
  font-family: "Proza Libre", sans-serif;
  color: #5E92D4;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: left;
}

main.how-it-works-main section.calculator-info {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

main.how-it-works-main section.calculator-info .section-heading {
  font-family: "Proza Libre", sans-serif;
  color: #BF755A;
  font-size: 22px;
  margin-bottom: 10px;
}

main.how-it-works-main section.calculator-info .section-heading-image {
  width: 40px;
  margin-left: 5px;
}

main.how-it-works-main section.calculator-info .section-content {
  color: #0B609A;
  font-size: 18px;
}

main.how-it-works-main section.calculator-info .section-content p {
  margin-bottom: 15px;
}

main.how-it-works-main section.calculator-info .section-content .reference-heading {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

main.how-it-works-main section.calculator-info .section-content .reference-content {
  font-size: 16px;
}

main.how-it-works-main section.calculator-info .section-content .equation-image {
  max-width: 460px;
  margin-bottom: 10px;
}

main.how-it-works-main section.calculator-info .section-content .article-link {
  color: #0B609A;
  text-decoration: none;
}

main.how-it-works-main section.calculator-info .section-content .link-icon {
  width: 16px;
}

@media only screen and (max-width: 600px) {
  header .logo {
    width: 300px;
  }
  header .header-text {
    margin-bottom: 40px;
  }
  nav .pet-container {
    margin-bottom: 40px;
  }
  section form {
    margin-bottom: 40px;
  }
  section form .dog-value,
  section form .cat-value {
    margin-bottom: 10px;
  }
  section .dog-age-info {
    margin-bottom: 10px;
  }
  section .cat-age-info {
    margin-bottom: 40px;
  }
  section .dog-age-varies {
    margin-bottom: 40px;
  }
  nav .back-button {
    margin-bottom: 40px;
  }
  main.how-it-works-main section.calculator-info {
    margin-bottom: 40px;
  }
  main.how-it-works-main section.calculator-info .section-content .equation-image {
    max-width: 100%;
  }
  main.how-it-works-main section.calculator-info .section-content .link-icon {
    width: 14px;
  }
}
