// Fonts used
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@600&family=Quicksand&display=swap');
$primary_font: 'Quicksand', sans-serif;
$secondary_font: 'Proza Libre', sans-serif;

// Colors used
$light_blue: #5E92D4;
$dark_blue: #0B609A;
$brown: #BF755A;
$light_color: #FDF2E7;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $primary_font;
    line-height: 1.5;
}

body {
    background-color: $light_color;
}

.container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

header {
    .logo {
        width: 320px;
        margin-bottom: 10px;
    }
    .header-text {
        color: $brown;
        font-family: $primary_font;
        font-size: 18px;
        margin-bottom: 50px;
    }
}

nav {
    .choose-pet {
        font-family: $secondary_font;
        color: $light_blue;
        font-size: 22px;
    }
    .pet-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .dog-container,
    .cat-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .dog-image,
    .cat-image {
        width: 120px;
        cursor: pointer;
    }
    .dog-button,
    .cat-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light_blue;
        color: $light_color;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 6px;
        outline: none;
        cursor: pointer;
        font-size: 22px;
    }
    .dog-button:hover,
    .cat-button:hover {
        background-color: $dark_blue;
    }
    .dog-check-icon,
    .cat-check-icon {
        margin-left: 10px;
    }
}

section.calculator {
    display: none;

    form {
        margin-bottom: 50px;

        .dog-value,
        .cat-value {
            background-color: $light_color;
            color: $brown;
            border: 2px solid $light_blue;
            border-radius: 6px;
            height: 50px;
            width: 270px;
            font-size: 22px;
            padding: 10px;
            font-weight: bold;
            outline: none;
            margin-right: 10px;
            text-align: center;
        }
        ::placeholder {
            font-weight: normal;
            color: $brown;
        }
        .dog-submit-button,
        .cat-submit-button {
            background-color: $light_blue;
            color: $light_color;
            border: none;
            width: 150px;
            height: 50px;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            font-size: 22px;
        }
        .dog-submit-button:hover,
        .cat-submit-button:hover {
            background-color: $dark_blue;
        }
    }
    .dog-age-info,
    .cat-age-info {
        font-family: $secondary_font;
        font-size: 22px;
        color: $brown;
        margin-bottom: 10px;
    }
    .cat-age-info {
        margin-bottom: 50px;
    }
    .dog-age-varies {
        margin-bottom: 50px;
        font-size: 18px;
        color: $brown;
    }
}

footer {
    .paw-icon {
        width: 30px;
        margin-bottom: 5px;
    }
    a {
    color: $dark_blue;
    font-size: 18px;
    text-decoration: none;
    }
    a:hover {
        color: $brown
    }

    .developed-by {
        margin-top: 10px;
        font-size: 16px;
    }
    .footer-link-separator {
        color: $brown;
    }
}

// How It Works Page
nav {
    .back-link {
        text-decoration: none;
    }
    .back-button {
        background-color: $light_blue;
        color: $light_color;
        border: none;
        width: 250px;
        height: 50px;
        border-radius: 6px;
        outline: none;
        cursor: pointer;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        .back-icon {
            margin-right: 10px;
        }
    }
    .back-button:hover {
        background-color: $dark_blue;
    }
}

main.how-it-works-main {
    max-width: 660px;

    h1 {
        font-family: $secondary_font;
        color: $light_blue;
        font-weight: normal;
        font-size: 26px;
        margin-bottom: 20px;
        text-align: left;
    }
    section.calculator-info {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    
        .section-heading {
            font-family: $secondary_font;
            color: $brown;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .section-content {
            color: $dark_blue;
            font-size: 18px;

            p {
                margin-bottom: 15px;
            }
            .reference-heading {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 5px;
            }
            .reference-content {
                font-size: 16px;
            }
            .equation-image {
                max-width: 460px;
                margin-bottom: 10px;
            }
            .article-link {
                color: $dark_blue;
                text-decoration: none;
            }
            .link-icon {
                width: 16px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        .logo {
            width: 300px;
        }
        .header-text {
            margin-bottom: 40px;
        }
    }
    nav {
        .pet-container {
            margin-bottom: 40px;
        }
    }
    section {
        form {
            margin-bottom: 40px;
    
            .dog-value,
            .cat-value {
                margin-bottom: 10px;
            }
        }
        .dog-age-info {
            // font-size: 20px;
            margin-bottom: 10px;
        }
        .cat-age-info {
            margin-bottom: 40px;
        }
        .dog-age-varies {
            margin-bottom: 40px;
        }
    }
    // How It Works Page
    nav {
        .back-button {
            margin-bottom: 40px;
        }
    }

    main.how-it-works-main {

        section.calculator-info {
            margin-bottom: 40px;

            .section-content {

                .equation-image {
                    max-width: 100%;
                }

                .link-icon {
                    width: 14px;
                }
            }
        }
    }
}
